/* src/assets/styles.css */

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: inherit;
}

.phone-wrapper {
  width: 19rem;
  height: 40rem;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row, .flex-row-reverse {
  -webkit-box-orient: horizontal;
}

.flex-row {
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.screen {
  height: 93%;
  width: 90%;
  top: 30px;
  left: -1px;
  border-radius: 27px;
}

img {
  border-style: solid;
  overflow-clip-margin: content-box;
  overflow: clip;
}

img, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden;
}
  
.relative {
  position: relative;
}
  
.homeScreen {
  /* Custom styles for home screen */
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

*, :after, :before {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(66,153,225,0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-border-opacity: 1;
  --tw-shadow: 0 0 transparent;
  border-color: rgba(237,242,247,var(--tw-border-opacity));
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}



div {
  display: block;
  unicode-bidi: isolate;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.ease-in-out {
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.duration-150 {
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
}

.transition {
  -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
  transition-property: background-color,border-color,color,fill,stroke,opacity,-webkit-box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
}

.shadow-lg, .shadow-md {
  -webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.06);
}

.hover\:shadow-lg:hover, .shadow-inner {
  -webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {

}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgba(45,55,72,var(--tw-text-opacity));
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-center {
  text-align: center;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
}

.rounded-full {
  border-radius: 9999px;
}

.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.w-12 {
  width: 3rem;
}

.h-full {
  height: 100%;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-16 {
  height: 4rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.z-0 {
  z-index: 0;
}

.bottom-0 {
  bottom: 0;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(226,232,240,var(--tw-border-opacity));
}

.border-t {
  border-top-width: 1px;
}

.mt-auto {
  margin-top: auto;
}

.grid {
  display: grid;
}

.grid-rows-3 {
  grid-template-rows: repeat(3,minmax(0,1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}


.focus\:outline-none:focus, .outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}


